{% load static %}
{% load get_inventory_tags %}


<div>

    <nav class="main-menu">
        <ul>
            <li>
                <a href="{% url 'index' %}" style="vertical-align: top">

                    <i class="fa">
                        <div class="icon-new-inventory-menu"></div>
                    </i>

                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                           Взять инвентарный номер
                        </span>
                </a>

            </li>
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'get-permission' %}" style="vertical-align: top">

                        <i class="fa">
                            <div class="icon-new-permission-menu"></div>
                        </i>

                        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                           Взять номер <br>разрешения
                        </span>
                    </a>

                </li>
            {% endif %}

            <li>
                <a href="{% url 'my_open_inventory_numbers' %}">
                    <i class="fa">
                        <div class="icon-open-menu"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Открытые инвентарные номера
                        </span>
                </a>
            </li>

            <li>
                <a href="{% url 'my_close_inventory_numbers' %}">
                    <i class="fa">
                        <div class="icon-dsp-menu"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Закрытые инвентарные номера
                        </span>
                </a>
            </li>
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'my_permission_numbers' %}">
                        <i class="fa">
                            <div class="icon-r-menu"></div>
                        </i>
                        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Разрешения <br>на изменение
                        </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'my_replacement_permission_numbers' %}">
                        <i class="fa">
                            <div class="icon-p-menu"></div>
                        </i>
                        <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Разрешения <br>на подмену
                        </span>
                    </a>
                </li>
            {% endif %}
        </ul>


        <ul class="logout">
            {% if user_permission %}
                <li>
                    <a href="">
                        <i class="fa">
                            <div class="icon-gear-menu"></div>
                        </i>
                        <span class="nav-text text-menu-sidebar">
                            Отдел УВиХПМ
                        </span>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="#">
                    <i class="fa">
                        <div class="icon-user-menu"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            {% get_short_name user.id %}
                        </span>
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <i class="fa">
                        <div class="icon-power-off-menu"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Выйти
                        </span>
                </a>
            </li>
        </ul>
    </nav>
    <script type="text/javascript">
    </script>
</div>