{% extends "get_inventory_app/base.html" %}
{% load static %}
{% block title %}
    Поиск в архиве
{% endblock %}

{% block content %}

    <div class="d-flex flex-column w-100 align-items-center justify-content-center min_vh_search" id="all_file_block">
        <form method="POST" class="my_form d-flex flex-column align-items-center justify-content-center w-100"
              id="search_form"
              enctype="multipart/form-data"
              onsubmit="if(document.getElementById('search').value == '') return false;">
            {% csrf_token %}
            <div class="d-flex flex-column w-100 text-32px-bold" style="max-width: 1050px" id="start_body">
                <div class="d-flex align-items-start justify-content-start"> Поиск по архиву</div>
                <div class="d-flex flex-column w-100 justify-content-center align-items-center mt-3">
                    <div class="search_box d-flex text-32px-bold w-100">
                        <input type="text" placeholder="Введите инвентарный номер" name="search" id="search"
                               data-ajax-url="{% url 'quick_search' %}" autocomplete="off" minlength="4">
                        <input type="submit" style="margin-right: 8px">
                    </div>
                    <div class="d-flex w-100" id="insert_search_result">
                    </div>
                </div>
            </div>
        </form>

    </div>

    <!-- Модальное окно НЕ успешной отправки-->
    <div class="modal fade" id="bad_send_modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog_clearance">
            <div class="modal-content modal-content_clearance">
                <div class="modal-header modal-header_clearance">
                    <h5 class="modal-title text-24px-regular" style="cursor: context-menu">Файл не отправлен</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body modal-body_clearance">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <div class="d-flex text-20px-light">Файл не отправлен</div>
                    </div>
                </div>
                <div class="modal-footer modal-footer_clearance justify-content-center">

                    <button class="button_blue_clearance"
                            onclick="$('#bad_send_modal').modal('hide');">
                        Ок
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно ошибки-->
    <div class="modal fade" id="error_modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog_clearance">
            <div class="modal-content modal-content_clearance">
                <div class="modal-header modal-header_clearance">
                    <h5 class="modal-title text-24px-regular" style="cursor: context-menu">Ошибка</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body modal-body_clearance">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <div class="d-flex text-20px-light">Что-то пошло не так...</div>
                    </div>
                </div>
                <div class="modal-footer modal-footer_clearance justify-content-center">

                    <button class="button_blue_clearance"
                            onclick="$('#error_modal').modal('hide');">
                        Очень жаль
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            var $result = $('#search_box-result');
            var url = $("#search").attr("data-ajax-url");

            $('#search').focus(function () {

                var search = $('#search').val();
                var len_search = search.length

                if (len_search > 0) {
                    console.log(search.length)
                    $("#all_file_block").removeClass("min_vh_search");
                    $("#all_file_block").addClass("min_vh_search_margin_100");
                }

            });

            $("#search").focusout(function () {
                var search = $('#search').val();
                var len_search = search.length

                if (len_search < 3) {
                    console.log(search.length)
                    $("#all_file_block").addClass("min_vh_search");
                    $("#all_file_block").removeClass("min_vh_search_margin_100");
                }
            });

            $('#search').on('keyup', function () {
                var search = $(this).val();

                if ((search != '') && (search.length > 3)) {
                    $("#all_file_block").removeClass("min_vh_search");
                    $("#all_file_block").addClass("min_vh_search_margin_100");
                    let dataToSend = $('#search_form').serialize()
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: dataToSend,
                        success: function (data) {
                            $('#insert_search_result').html(data);
                            if (data != '') {
                                $('#insert_search_result').fadeIn();
                            } else {
                                $('#insert_search_result').fadeOut(100);
                            }
                        }
                    });
                } else {
                    $('#insert_search_result').html('');
                    $('#insert_search_result').fadeOut(100);
                }
            });

            $(document).on('click', function (e) {
                if (!$(e.target).closest('.search_box').length) {
                    $result.html('');
                    $result.fadeOut(100);
                }
            });

            $(document).on('click', '.search_result-name a', function () {
                $('#search').val($(this).text());
                $result.fadeOut(100);
                return false;
            });

            $(document).on('click', function (e) {
                if (!$(e.target).closest('.search_box').length) {
                    $result.html('');
                    $result.fadeOut(100);
                }
            });

        });
    </script>
{% endblock %}
